<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/head.ejs') -%>
	</head>
	<body>
		<div class="main">
			<div>
                <h1>Welcome to Fund Library</h1>

				<%if(currentUser) {%>
					<div>
						<h2>
							<%=currentUser.username%>
						</h2>
					</div>
					<div>
						<button><a href="/library/new">Create New Fund</a></button>
					</div>
				<%};%>
                
				<ul>
                    <%allFunds.forEach(fund => {%>
                        <li><a href="/library/<%=fund._id%>"><%=fund.name%></a></li>
                    <%});%>
                    
                </ul>
			</div>
		</div>
	</body>
</html>
