<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/head.ejs') -%>
	</head>
	<body>
		<div class="main">
			<div>
                <h1>Portfolio Simulator</h1>
			</div>
            <div class="questions">
                <form action="/library/portfolio/simulate" method="GET">

                    <div class="one">

                        <label for="#">Risk Appetite?</label>
                        <input type="radio" class="btn-check" name="risk_appetite" id="conservative-outlined" autocomplete="off" value="conservative" checked>
                        <label class="btn btn-outline-success" for="conservative-outlined">Conservative</label>
                        
                        <input type="radio" class="btn-check" name="risk_appetite" id="aggressive-outlined" autocomplete="off" value="aggressive">
                        <label class="btn btn-outline-danger" for="aggressive-outlined">Aggressive</label>
                        
                    </div>

                    <div class="two">

                        <label for="">Payment Type?</label>
                        <input type="checkbox" class="btn-check" name="payment_type" id="btn-check-cash-outlined" autocomplete="off" value="cash" checked>
                        <label class="btn btn-outline-secondary" for="btn-check-cash-outlined">Cash</label>
                        
                        <input type="checkbox" class="btn-check" name="payment_type" id="btn-check-cpf-oa-outlined" autocomplete="off" value="cpf-oa">
                        <label class="btn btn-outline-secondary" for="btn-check-cpf-oa-outlined">CPF-OA</label>
                        
                        <input type="checkbox" class="btn-check" name="payment_type" id="btn-check-cpf-sa-outlined" autocomplete="off" value="cpf-sa">
                        <label class="btn btn-outline-secondary" for="btn-check-cpf-sa-outlined">CPF-SA</label>
                        
                        <input type="checkbox" class="btn-check" name="payment_type" id="btn-check-srs-outlined" autocomplete="off" value="srs">
                        <label class="btn btn-outline-secondary" for="btn-check-srs-outlined">SRS</label> 

                    </div>

                    <div class="three">

                        <label for="#">Time Horizon?</label>
                        <input type="radio" class="btn-check" name="time_horizon" id="long-outlined" autocomplete="off" value="long" checked>
                        <label class="btn btn-outline-success" for="long-outlined">Long</label>
                        
                        <input type="radio" class="btn-check" name="time_horizon" id="short-outlined" autocomplete="off" value="short">
                        <label class="btn btn-outline-danger" for="short-outlined">Short</label>
                        
                    </div>

                    <input type="submit" value="test">
                </form>
                    

                
            </div>
		</div>
	</body>
</html>
