<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<!--========== link css ==========-->
	<link rel="stylesheet" href="../../css/style.css" />
	<title>Fund Library</title>
</head>

<body>
	<div class="header">
		<h1>Fund Library</h1>
	</div>
	<div class="header-nav">
		<ul>
			<li>
				<a href="/library">Back to Library</a>
			</li>
			<li><a href="/users/new">Create New User</a></li>
			<li>
				<button><a href="/sessions">Sign In</a></button>
			</li>
			<%if(currentUser) {%>
				<li>
					<form action="/sessions?_method=DELETE" method="POST">
						<input type="submit" value="Sign Out" />
					</form>
				</li>
			<%};%>
		</ul>
	</div>
</body>
