.header-nav > ul {
	list-style-type: none;
	width: 500px;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: flex-end;
}

.header-nav {
	display: flex;
	justify-content: space-between;
}
.logo {
	max-width: 165px;
}
.header-search {
	background-color: rgb(5, 214, 68);
}
.head {
	height: 90px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: center;
}
.head-button {
	width: 300px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}
.foot-button {
	width: 200px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}
.main {
	box-sizing: border-box;
}
.main > ul {
	list-style-type: none;
	/* column-count: 3;
	column-gap: 5px; */
}
/* .main > ul > li {
	width: 200px;
	display: block;
} */
.main > div > ul {
	list-style-type: none;
}
