<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/head.ejs') -%>
	</head>
	<body>
		<div class="main">
			<div>
				<h1>Sign In</h1>
				<form action="/sessions" method="POST">
					<label for="username">Username</label>
					<input type="text" name="username" id="username" />
					<label for="password">Password</label>
					<input type="password" name="password" id="password" />
					<input type="submit" value="Login" />
				</form>
			</div>
		</div>
	</body>
</html>
